* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainTransition: all 0.3s linear;
}

/* Navbar */
.navbar {
  height: 100%;
  width: 100%;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: rgb(51, 50, 50);
}

li {
  list-style-type: none;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.nav-links {
  height: 0;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0;
  transition: var(--mainTransition);
}

.nav-links a {
  transition: var(--mainTransition);
  text-decoration: none;
}

.show-nav {
  height: 100px;
}
